.stack-list__element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-list__element p{
    text-align: center;
}

.stack-list__element img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}